body {
    margin: 0;
}
header {
    display: flex;
    height: 35px;
    justify-content: space-between;
    padding: 30px;
    text-decoration: solid;
    top: 0;
    width: 360px;
}
.header-right {
    align-items: center;
    display: flex;
    height: 100%;
}
.menu-icon {
    cursor: pointer;
}
@media only screen and (min-width: 768px) {
    .menu-icon {
        display: none;
    }
}
.navigation {
    align-items: center;
    display: none;
    height: 100%;
    position: absolute;
    right: 20px;
}
@media only screen and (min-width: 768px) {
    .navigation {
        display: inline-block;
        font-size: 120%;
    }
}
.navigation .tab {
    align-items: center;
    color: black;
    display: inline-flex;
    height: 100%;
    text-decoration: none;
}
main {
    font-size: bolt;
}
button {
    background-color: white;
    border-color: purple;
    border-radius: 30px; 
    border-width: 3px;
    margin-left: 30px;
    margin-top: 50px;
    padding: 15px 30px;
}
div.position {
    bottom: 5px;
    left: 50px;
    position: sticky;
}
div.orange {
    background-color: #FF8139;
    padding: 30px 30px 10px 30px;
}
@media only screen and (min-width: 768px) {
    div.orange {
        border-radius: 20px;
        font-size: 130%;
        margin: 20px;
        padding-top: 40px;

    }
}
div.text {
    padding-left: 30px;
    padding-top: 60px;
    text-align: left;
    width: 50%;
}
@media only screen and (min-width: 768px) {
    div.text {
        font-size: 130%;
    }
}
.press {
    align-items: center;
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 30px;
}
@media only screen and (max-width: 768px) {
    .OpenDoor {
        display: none;
        }
}
.SuperRare {
    padding-left: 30px;
    padding-top: 30px;
}
@media only screen and (min-width: 768px) {
    .SuperRare {
        font-size: 130%;
    }
}
a:link, a:visited {
    color: black;

}

