body {
    margin: 0;
}
header {
    display: flex;
    height: 35px;
    justify-content: space-between;
    padding: 30px;
    text-decoration: solid;
    top: 0;
    width: 360px;
}
.header-right {
    align-items: center;
    display: flex;
    height: 100%;
}
.menu-icon {
    cursor: pointer;
}
@media only screen and (min-width: 768px) {
    .menu-icon {
        display: none;
    }
}
.navigation {
    align-items: center;
    display: none;
    height: 100%;
    position: absolute;
    right: 20px;
}
@media only screen and (min-width: 768px) {
    .navigation {
        display: inline-block;
    }
}
.navigation .tab {
    align-items: center;
    color: black;
    display: inline-flex;
    height: 100%;
    text-decoration: none;
}
main {
    font-size: bolt;
    margin-bottom: 50px;
}
.marsietis {
    margin: 50px 0px 50px 0px ;
    
}
button {
    background-color: white;
    border-color: purple;
    border-radius: 30px; 
    border-width: 3px;
    margin-left: 30px;
    margin-top: 50px;
    padding: 15px 30px;
}
div.position {
    bottom: 5px;
    left: 50px;
    position: absolute;
}
@media only screen and (min-width: 768px) {
    div.position {
       margin: 150px 500px ;
        width: 350px;
        height: 500px;
    }
}
 div.orange { 
    background-color:#FF8139;
    padding: 30px 30px 10px 30px;
}
@media only screen and (min-width: 768px) {
    div.orange {
        border-radius: 20px;
        font-size: 130%;
        margin: 30px;
        margin-top: 300px;
        padding-top: 40px;

    }
}
div.text {
    padding-left: 30px;
    padding-top: 60px;
    text-align: left;
    width: 50%;
}
@media only screen and (min-width: 768px) {
    div.text {
    
    }
}
.press {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 50px 30px;
}
@media only screen and (max-width: 768px) {
    .OpenDoor {
        display: none;
        }
}
.img { text-align: center;
}
@media only screen and (max-width: 768px) {
    .img {
        height: 25px;
        width: 130px;
        flex-wrap: wrap;
        column-gap: 50px;
        row-gap: 30px;
        
    }
}
.SuperRare {
    margin-bottom: 30px;
    padding-left: 30px;
    padding-top: 30px;
}
@media only screen and (min-width: 768px) {
    .SuperRare {
        margin-bottom: 50px;
    }
}
a:link, a:visited {
    color: black;

}
footer {
    height: 35px;
    padding: 20px;
    top:0;
    width: 360px;
}
.icon {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
}
a {
    color: black;
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.column {
    flex: 50%;
}
.row {
    display: flex;
}
.august {
    align-items: center;
    display: flex;
    position: absolute;
    padding-bottom: 20px;
    right: 30px; 
}
@media only screen and (max-width: 768px) {
    .august {
        display: none;
    }
}
.zalia {
    padding-left: 30px;
    padding-top: 60px;
    text-align: left;
    width: 50%;
}
.moterele {
    bottom: 5px;
    display: flex;
    border-bottom: 2px;
}
.korteles {
     overflow-x: scroll;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 10px 30px;
    
}


